{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <title>SAP Community</title>
</head>
<body>
<div id="root"></div>
{% render_bundle 'bundle' %}
{% render_bundle 'vendor' %}
</body>
</html>